<form method="POST" action="https://api.staticman.net/v2/entry/{{ .Site.Params.staticman.username }}/{{ .Site.Params.staticman.repository }}/{{ .Site.Params.staticman.branch }}/comments">
  <input type="hidden" name="options[redirect]" value="{{ .Permalink }}#comment-submitted">
  <input type="hidden" name="options[entryId]" value="{{ .UniqueID }}">
  <input name="fields[name]" type="text" id="name" class="box" placeholder="{{with (index $.Site.Data.translations $.Site.LanguageCode).contact.name}}{{.}}{{end}}..">
  <input name="fields[email]" type="email" id="email" class="box" placeholder="{{with (index $.Site.Data.translations $.Site.LanguageCode).contact.email}}{{.}}{{end}}..">
  <textarea name="fields[body]" class="box" placeholder="Your message. Feel free to use Markdown." rows="10"></textarea>
  <input type="submit" class="box button button-large" value="Submit" onclick="showAlert('#comment-submitted')">
</form>

<div class="box">
  <div id="comment-submitted" class="alert" role="alert" style="display: none;">
    <button type="button" class="close" onclick="hideAlert('#comment-submitted')">
    <span>×</span>
    </button>
    {{with (index $.Site.Data.translations $.Site.LanguageCode).comment.alert}}{{.}}{{end}}
    <a href="https://github.com/RCJacH/RCJacH.github.io/pulls">{{with (index $.Site.Data.translations $.Site.LanguageCode).comment.click}}{{.}}{{end}}</a>
    {{with (index $.Site.Data.translations $.Site.LanguageCode).comment.pull}}{{.}}{{end}}
  </div>
</div>